<p style="color: green"><%= notice %></p>

<h1>Users</h1>

<div id="users">
  <% @array = @user.sort_by{|e| -e[:record]}%>
  <table>
  <tr>
    <th>Posicion</th>
    <th>Nombre</th>    
    <th>Record</th>
  </tr>
  <% @array.each do |user| %>
    <td><%= render index %></td>
    <td><%= render user.nombre %></td>
    <td><%= render user.record %></td>
  <% end %>
  </table>
</div>

