<div id="users">
  <div id="encajar">
    <h1 id="users">CLASIFICACIÓN</h1>

    <% index = 0%>
    <% @array = @users.sort_by{|e| -e[:record]}%>
      <table id="customers">
      <tr>
        <th>Posición</th>  
        <th>Nombre</th>    
        <th>Record</th>
      </tr>
      <% @array.each do |user| %> 
      <% index += 1%>
      <tr>   
        <td><%= index %></td>
        <td><%= user.nombre %></td>
        <td><%= user.record %></td>
      </tr>
      <% end %>
      </table>
    </div>
</div>

<div id="volver">
  <h3 id="Inicio2"><a href="https://clados.ugr.es/DS2_2/">Volver</a> a la página principal</h3>
</div>
