<html>
<p style="color: green"><%= notice %></p>


<h1 id="Inicio1">Super Yi</h1>
<img src="https://blenderartists.org/t/luigis-casino-blender-remake/1358457">

<h2 id="Inicio2">Bienvenido a la web de el famoso juego <strong>SUPER YI</strong>, <a href="https://clados.ugr.es/DS2_2/users">aquí</a> podrás consultar la clasificación y el récord de todos los jugadores activos!!!</h2>

<a href="https://www.youtube.com/watch?v=JDXfqN3VKhc"><button id="botonJugar">Pulse para jugar</button></a>

<h1 id="descargar">¿Te gustaría jugarlo en tu teléfono móvil? Descarga la APK oficial en este enlace</h1>

<a href="https://www.youtube.com/watch?v=JDXfqN3VKhc"><button id="botonJugar">Pulse para jugar</button></a>

</html>