<html>
<p style="color: green"><%= notice %></p>

<div id="principal">
    <h1 id="Instrucciones"><strong>REGLAS OFICIALES SUPER YI</strong></h1>
    <p>En esta p치gina vamos a explicar todo lo necesario para entender el Super Yi</p>
    

    <div id="instrucciones">
        <h2>Modo de juego</h2>
        <p>Este juego es muy similar al famoso juego UNO por tanto su manera de jugar es muy similar,
            empezaremos con una mano de 7 cartas, al igual que nuestro contrincante Luigi. Para poder proseguir
            con el juego debemos acceder a nuestro mazo y echar una carta que coincida o en color o en numero
            con la carta que hay actualmente en mesa, que se puede ver claramente en el centro. El ganador de la 
            partida ser치 quien llegue primero a la cantidad de 0 cartas.        
        </p>
    </div>

    <div id="instrucciones">
        <h2>Sistema de puntuaci칩n:</h2>
        <ul>
            <li>Empiezas la partida con 1000 puntos</li>
            <li>Cada vez que hechas una carta de tu mano ganas 5 puntos</li>
            <li>Cada vez que robas una carta pierdes 2 puntos</li>
            <li>Cuando se termina una ronda pierdes 20 puntos</li>
            <li>Al acabar la partida se te suman con 1 punto cada carta con la que termina la IA (Luigi)</li>
        </ul>
    </div>

    <h3 id="Inicio2"><a href="https://clados.ugr.es/DS2_2/">Volver</a> a la p치gina principal</h3>
    
</div>


</html>